@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

/* Headings */

h1,
h2 {
    font-family: 'Lobster';
}

/* Navigation */

.navbar-brand {
    font-size: 2.5rem;
}

/* Hero image and cover text */

.hero-image {
    background-image: url('https://res.cloudinary.com/djnre3b2t/image/upload/v1689764397/hero-image_qckq2s.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
}

/* Recipes on Home Page */

.recipe-link {
    color: inherit;
}

/* Recipe Details Page */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #0c7c3f;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.recipe-title {
    margin-top: 20%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
}

/* Footer */

.socials li {
    display: inline-block;
}

footer .socials li {
    margin-left: 10px;
}

footer .socials li a {
    color: inherit;
}