{% extends "base.html" %}

{% block content %}

<div class="container-fluid hero-container">
    <div class="hero-image">
        <div class="hero-content">
            <h2 class="display-4">Welcome to The Green Gastronomes</h2>
            <p class="lead">Welcome to our vibrant world of plant-based delights! A multi-author blog celebrating
                cruelty-free cuisine, inspiring
                recipes, tips, and stories for compassionate food lovers. Join us on this delicious journey.
                #VeganFoodBlog
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/djnre3b2t/image/upload/v1689770826/default-image_vtjs7h.png">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                                {% endif %}
                                <div>
                                    <p>Author: {{ recipe.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug  %}" class="recipe-link">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <p class="card-text">{{ recipe.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">
                                {{ recipe.created_on }}
                                <i class="fa-regular fa-heart"></i> {{ recipe.number_of_likes }}
                                <i class="fa-regular fa-comments"></i> {{ recipe.number_of_comments }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}